{% extends "layout.html" %}

{% block main_content %}
    <section class="habit-list">
        {% for habit in habits %}
            {% set completed = habit["_id"] in completions %}
            {% if completed %}
                <div class="habit completed">
                    <p class="habit__name">
                        {{ habit["name"] }}
                    </p>
                    <span class="habit__icon">&#x2714;</span>
                </div>
            {% else %}
                <div class="habit">
                    <form class="habit__form" method="POST" action="{{ url_for('habits.complete') }}">
                        <input type="hidden" name="habitId" value="{{ habit['_id'] }}">
                        <input type="hidden" name="date" value="{{ selected_date }}">
                        <button class="habit__button" type="submit">
                            {{ habit["name"] }}
                        </button>
                    </form>
                </div>

            {% endif %}
        {% endfor %}
    </section>
{% endblock %}